[Unit]
Description=Redsocks transparent SOCKS proxy redirector
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/redsocks
ExecStartPre=/usr/sbin/redsocks -t -c ${CONFFILE}
ExecStart=/usr/sbin/redsocks -c ${CONFFILE}

[Install]
WantedBy=multi-user.target
